.DS_Store
.dart_tool/

.packages
.pub/

build/
**/.env

.bitrise.secrets.yml
*flutter_junit_test_results.xml
android/ndk_crash_reports/network_information
**/.cxx/
tools/e2e_generator/main.tf
tools/e2e_generator/secrets.tf
.terraform*
tools/e2e_generator/terraform.tfstate
*.backup
**/.flutter-plugins*
__pycache__
venv/
.fvm/
