.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/
**/.env

pubspec.lock
**/pubspec_overrides.yaml

.bitrise.secrets.yml
*flutter_junit_test_results.xml
android/ndk_crash_reports*/network_information
**/.cxx/
tools/e2e_generator/main.tf
tools/e2e_generator/secrets.tf
.terraform*
tools/e2e_generator/terraform.tfstate
*.backup
**/.flutter-plugins*
__pycache__
tools/ci/venv
ndk_crash_reports_v2/
ndk_crash_reports_intermediary_v2/
.fvm/
packages/datadog_flutter_plugin/integration_test_app/ios/Podfile.lock
packages/datadog_flutter_plugin/e2e_test_app/pubspec.lock
packages/datadog_flutter_plugin/example/pubspec.lock
packages/datadog_tracking_http_client/example/ios/Podfile.lock
examples/native-hybrid-app/ios/Podfile.lock
packages/datadog_flutter_plugin/example/ios/Podfile.lock
.build
tools/ci/.tmp
