name: datadog_webview_tracking_example
description: Demonstrates how to use the datadog_webview_tracking plugin.
publish_to: 'none'

environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  datadog_flutter_plugin: ^1.3.0
  datadog_webview_tracking:
    path: ../
  webview_flutter: ^4.0.4
  cupertino_icons: ^1.0.2
  flutter_dotenv: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  datadog_common_test:
    path: ../../datadog_common_test

flutter:
  uses-material-design: true

  assets:
    - .env

dependency_overrides:
  datadog_flutter_plugin:
    path: ../../datadog_flutter_plugin